---
title: Xiaoqiang Wang
excerpt: Xiaoqiang Wang | 王晓强
---

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {%- include head.html -%}
    <link rel="stylesheet" href="{{ "/assets/css/home.css" | prepend: site.baseurl | replace:'//','/' }}">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div itemscope itemtype="http://schema.org/Person" class="home">
      <div class="main">
        <div class="content">
          <div class="my-photo">
            <img itemprop="image" alt="my photo" src="/imgs/avatar1.png" />
          </div>
          <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
          {% include follow-me.html %}
          <p><a itemprop="url" class="social-link blog" title="Visit my blog." href="/blog" target="_self">Visit My Blog</a></p>
          <script type="text/javascript" src="//ra.revolvermaps.com/0/0/6.js?i=0q1mgx95srk&amp;m=7&amp;c=e63100&amp;cr1=ffffff&amp;f=ubuntu&amp;l=0&amp;s=250&amp;bv=90&amp;lx=-420&amp;ly=420&amp;hi=20&amp;he=7&amp;hc=a8ddff&amp;rs=80" async="async"></script>
        </div>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>